* {
  font-family: "Roboto", sans-serif;
}
input:focus {
  outline:none;
  border-color: #86b7fe;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px ;
  box-shadow: 0px 0px 0px 4px #c2dbfe;
}

.main-body {
  background-color: #d4ebfd;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 10px;
  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.25);
  width: 450px;
  height: 420px;
  background-color: white;
  padding: 20px 20px 20px 20px;
}
.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}
.form-item-input {
  padding: 10px 5px;
}
.form-item-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form-item-group-select {
  display: flex;
}
.form-item-group-select select {
  width: 48%;
  margin-right: 10px;
  padding: 9px;
}
.form-item-group-first {
  width: 67%;
}
.form-item-last {
  width: 30%;
}
.form-item-last input {
  width: 100%;
}
.form-button {
  width: 100%;
  margin-top: 25px;
  padding: 12px 5px;
  border-radius: 5px;
  background-color: #0055d4;
  border: none;
  box-shadow: 4px 4px 50px 0px rgba(0, 0, 0, 0.25);
  color: white;
}
.card {
  position: absolute;
  border: none;
  width: 80%;
  height: 200px;
  top: -25%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-size: cover;
  background-image: url("https://imgproxy.cdn-tinkoff.ru/compressed/aHR0cHM6Ly9zdGF0aWMucHJvamVjdC50aW5rb2ZmLnJ1L3N0YXRpYy9heXdzL2NhcmRfRnJvbnQtMjAyMS0wNS0yNC0wOS00OC0yMS5wbmc=");
}
.card-number {
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 20px #000000;
  border-color: transparent;
}
.card-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}
.card-holder {
  width: 55%;
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  color: white;
  text-shadow: 0px 0px 20px #000000;
  border-color: transparent;
}
.card-expires {
  border: 2px solid;
  border-radius: 5px;
  width: 35%;
  padding: 5px;
  text-align: left;
  color: white;
  text-shadow: 0px 0px 20px #000000;
  border-color: transparent;
}
.card-back {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  border-color: #2da1a5;
  border-radius: 15px;
  background-color: #2da1a5;
  padding: 0px 5px;
  background-size: cover;
  background-image: url("https://avatars.mds.yandex.net/get-zen_doc/244664/pub_5bbfb9b4e9c19900aad6c4fd_5bc11208f4355200abca8f56/scale_1200");
}
.card-back-CVV {
  border: 1px black solid;
  border-radius: 5px;
  width: 100%;
  height: 25px;
  text-align: right;
  background-color: white;
  text-shadow: 0px 0px 20px #000000;
}
.card-back.active {
  display: flex;
}
@media (max-width: 600px) {
  .form {
    width: 95vw;
  }
  .card-holder {
    padding: 0px;
  }
  .card-expires {
    padding: 0px;
  }
}